<div class="min-h-screen flex justify-content-center">
  <div class="mainBoadyContainer relative w-full">
    <!-- <div class="flex" style="position: absolute;
    top: 20px;
    left: 10px;">
      <div class="backIcon">
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 512 512"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="48"
            d="M328 112 184 256l144 144"
          ></path>
        </svg>
      </div>
    </div> -->
    <div class="header">
      <div class="flex justify-content-center align-items-center h-full text-2xl font-semibold py-3 ml-4">
        <img src="../../assets/icon/logo.png" height="100%" />
      </div>
    </div>

    <div class="staffListBody mx-3 overflow-auto h-full">
      <form [formGroup]="filterForm" class="filter flex flex-column  my-3 align-items-center"
        (ngSubmit)="ApplayFilter(filterForm)" id="staffFilters">

        <div class="flex gap-3 w-full">
          <div *ngFor="let filter of filterList" class="w-3">
            <p-dropdown [formControlName]="filter.filter_name" class="w-full "
              styleClass="w-full border-blue-600 shadow-none border-round-3xl" [options]=" filter.options"
              optionLabel="option_name" [placeholder]="'Select a ' + filter.filter_name " />
          </div>
        </div>


        <div class="flex gap-3 mt-4 w-full justify-content-end mb-3">
          <button p-button (click)="resetFilter()"
            class="bg-secondary border-1 px-3 py-2 font-semibold text-lg text-white  border-round-lg">Reset
            Filter</button>
          <button p-button
            class="bg-primary border-1 px-3 py-2 font-semibold text-lg text-white border-blue-600 border-round-lg">Apply
            Filter</button>
        </div>
      </form>

      <div class="staffListCards grid my-4">
        <div class="col-6 sm:col-4 md:col-3" *ngFor="let staff of filterStafList">
          <div class="safttCard" *ngIf="!staffListLoader">
            <div class="cardHeader overflow-hidden">
              <img width="100%" height="100%" [src]="checkImg(staff?.image)" />
            </div>
            <div class="cardBody">
              <div>{{ staff?.name }}</div>
            </div>
          </div>

          <div class="border-round border-1 surface-border p-2 surface-card" *ngIf="staffListLoader">
            <p-skeleton width="100%" height="150px" />
            <div class="flex justify-content-between mt-3">
              <p-skeleton width="10rem" height="2rem" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>