<div class="mx-3">
  <div class="flex gap-3 my-3 align-items-center">
    <div (click)="goBack()" class="flex align-items-center px-3 py-2 border-round-xl border-1 border-clr">
      <div class="backIcon">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
          xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M328 112 184 256l144 144"></path>
        </svg>
      </div>
      <div class="ml-3 text-xl font-semibold secondary-txt">Back</div>
    </div>

    <div class="text-xl font-semibold  secondary-txt ">
      Search Customer
    </div>
  </div>


  <form [formGroup]="customerSearchForm" class="flex w-full  my-6">

    <div class="flex w-full flex-column">
      <div class="ml-2 mb-1 natural-1-txt">Search by</div>

      <div class="flex gap-3 w-full">
        <div class="border-1 flex w-full justify-content-between border-nt-1 border-round-lg ">
          <div class="w-full">
            <p-iconField iconPosition="left" *ngIf="customerSearchForm.value.searchBy.id == 1"> <p-inputIcon>
                <div class="">
                  +1
                </div>
              </p-inputIcon>
              <input [type]="inputType(customerSearchForm)" class="w-full border-none bg-transparent" pInputText />
            </p-iconField>
            <input [type]="inputType(customerSearchForm)" *ngIf="customerSearchForm.value.searchBy.id != 1"
              class="w-full border-none bg-transparent" pInputText />
          </div>
          <div>
            <p-dropdown id="customerDropdown" [options]="searchByList" formControlName="searchBy" optionLabel="name" />
          </div>
        </div>
        <button pButton class="secondary-bg text-dark flex justify-content-center border-round-lg w-7rem">
          Search
        </button>

        <button pButton
          class="bg-transparent border-1 border-clr secondary-txt px-4 border-round-lg w-7rem flex justify-content-center">
          <div class="backIcon2">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
              width="1em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m289.94 256 95-95A24 24 0 0 0 351 127l-95 95-95-95a24 24 0 0 0-34 34l95 95-95 95a24 24 0 1 0 34 34l95-95 95 95a24 24 0 0 0 34-34z">
              </path>
            </svg>
          </div>
          <div class="ml-2">Clear</div>
        </button>
      </div>
    </div>
  </form>
  <div class="staffListCards grid my-4 justify-content-center">
    <div class="col-9">
      <div class="grid">
        <div class="col-6 sm:col-4 md:col-3" *ngFor="let staff of list">
          <div class="safttCard cursor-pointer">
            <div class="cardHeader overflow-hidden relative">

              <img width="100%" height="100%" src="../../../assets/icon/imag.jpg" />
            </div>
            <div class="cardBody secondary-txt text-xl font-semibold">
              <div>Customer {{ staff }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute" style="bottom: 30px; left: 16px">
    <img [src]="localStorageData?.user?.logo" alt="logo" style="object-fit: cover" width="110px" />
  </div>
</div>