<div class="mx-3">
  <div class="flex gap-3 my-3 align-items-center">
    <div (click)="goBack()" class="flex align-items-center px-3 py-2 border-round-xl border-1 border-clr">
      <div class="backIcon">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
          xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M328 112 184 256l144 144"></path>
        </svg>
      </div>
      <div class="ml-3 text-xl font-semibold secondary-txt">Back</div>
    </div>

    <div class="text-xl font-semibold  secondary-txt ">
      Search Customer
    </div>
  </div>


  <form [formGroup]="customerSearchForm" (ngSubmit)="onSubmit(customerSearchForm)" class="flex w-full  my-6">

    <div class="flex w-full flex-column">
      <div class="ml-2 mb-1 natural-1-txt">Search by</div>

      <div class="flex gap-3 w-full">
        <div class="border-1 flex w-full justify-content-between border-nt-1 border-round-lg ">
          <div class="w-full">
            <p-iconField iconPosition="left" *ngIf="customerSearchForm.value.searchBy.id == 1"> <p-inputIcon>
                <div class="">
                  +1
                </div>
              </p-inputIcon>
              <input [type]="inputType(customerSearchForm)" formControlName="phoneNum"
                class="w-full border-none bg-transparent" pInputText />
            </p-iconField>
            <input type="email" placeholder="Enter email" *ngIf="customerSearchForm.value.searchBy.id == 2"
              class="w-full border-none bg-transparent" formControlName="email" pInputText />

            <input type="text" placeholder="Enter Name" *ngIf="customerSearchForm.value.searchBy.id == 3"
              class="w-full border-none bg-transparent" formControlName="name" pInputText />
          </div>
          <div>
            <p-dropdown id="customerDropdown" [options]="searchByList"
              (onChange)="addRemoveVaidation(customerSearchForm)" formControlName="searchBy" optionLabel="name" />
          </div>
        </div>
        <button pButton class="secondary-bg text-dark flex justify-content-center border-round-lg w-7rem">
          Search
        </button>

        <button pButton (click)="reset()"
          class="bg-transparent border-1 border-clr secondary-txt px-4 border-round-lg w-7rem flex justify-content-center">
          <div class="backIcon2">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
              width="1em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m289.94 256 95-95A24 24 0 0 0 351 127l-95 95-95-95a24 24 0 0 0-34 34l95 95-95 95a24 24 0 1 0 34 34l95-95 95 95a24 24 0 0 0 34-34z">
              </path>
            </svg>
          </div>
          <div class="ml-2">Clear</div>
        </button>
      </div>
    </div>
  </form>
  <div class="staffListCards grid my-4 justify-content-center">
    <div class="col-9 mb-6">
      <div class="grid h-full overflow-auto" *ngIf="!formSumitLoader">
        <div class="col-6 sm:col-4 md:col-4" *ngFor="let customer of customerList">
          <div class="safttCard p-3 border-round-xl cursor-pointer">
            <div class="my-3">
              <div class="natural-1-txt text-sm mb-1">Customer Name</div>
              <div class="secondary-txt text-md">{{customer?.first_name + " " +customer?.last_name}}</div>
            </div>

            <div class="my-3">
              <div class="natural-1-txt text-sm mb-1">Email</div>
              <div class="secondary-txt text-md">{{customer.email}}</div>
            </div>

            <div class="my-3">
              <div class="natural-1-txt text-sm mb-1">Phone Number</div>
              <div class="secondary-txt text-md">{{customer?.phone}}</div>
            </div>


            <div class="mt-5 mb-3 flex w-full justify-content-center">
              <button pButton (click)="selectCustomer(customer)"
                class="py-3 bg-transparent secondary-txt w-10 flex justify-content-center border-1 border-clr border-round-lg">
                Select
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="grid h-full" *ngIf="formSumitLoader">
        <div class="col-6 sm:col-4 md:col-4" *ngFor="let customer of list">

          <p-skeleton width="w-full" height="18.625rem" />
          <!-- <div class=" p-3 border-round-xl" style="height: 298px;">
            <div style="visibility: hidden;"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="absolute" style="bottom: 30px; left: 16px">
    <img [src]="localStorageData?.businessData?.logo" alt="logo" style="object-fit: cover" width="110px" />
  </div>
</div>