.backIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #e9c33b;
  border-radius: 50%;
  color: black;
  font-size: 30px;
  padding: 5px;
}

.selectBtn {
  border: 1px solid #e9c33b;
  padding: 12px 50px;
  border-radius: 16px;
  overflow: hidden;
  font-weight: 700;
  text-wrap: nowrap;
  color: black;
  background-color: #e9c33b;
}

.roomTab {
  text-align: center;
  border: 1px solid #e9c33b;
  background-color: #e9c33b;
  color: black;
  font-size: 20px;
  border-radius: 16px;
  padding: 6px 20px;
}

.backIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #e9c33b;
  border-radius: 50%;
  color: black;
  font-size: 30px;
  padding: 5px;
}

.header {
  height: 100px;
}
