@import "./variables.scss";

.primary-bg {
  background-color: $primary;
}

.secondary-txt {
  color: $secondary;
}

.border-clr {
  border-color: $secondary !important;
}

.secondary-bg {
  background-color: $secondary !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-light {
  color: #ffffff !important;
}
