@import "./variables.scss";

.primary-bg {
  background-color: $primary;
}

.secondary-txt {
  color: $secondary;
}

.border-clr {
  border-color: $secondary !important;
}

.secondary-bg {
  background-color: $secondary !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-light {
  color: #ffffff !important;
}

.bg-light {
  background-color: #ffffff;
}

.text-dark {
  color: black;
}


.border-nt-1 {
  border-color: $natural1 !important;
}

.natural-1-txt {
  color: $natural1;
}