@import "./color";

.mainBoadyContainer {
  max-width: 1180px;
}

#staffFilters {
  select {
    background: transparent;
    padding: 10px;
    border-radius: 24px;
    border-color: blue;
  }
}

.outline {
  outline: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;

  scrollbar-color: rgb(200, 200, 200) rgb(249, 245, 245);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(249, 245, 245);
}

*::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
  
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.9);
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

#choicePop {
  .p-dialog-header {
    display: none !important;
  }
}

.clickAnimation {
  &:active {
    transform: translateY(4px);
  }
}
